<%= form_for @user do |f| %>
<fieldform>
 <div>
   <%= f.label :name %><br>
   <%= f.text_field :name %>
 </div>
 <div>
   <%= f.label :email %><br>
   <%= f.text_field :email %>
 </div>
 <p>License</p>
 <div>
  <%= f.fields_for :license do |license_form| %>
  <div>
    <%= license_form.label :state %>
    <%= license_form.text_field :state %>
  </div>
  <div>
    <%= license_form.label :number %>
    <%= license_form.text_field :number %>
  </div>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
<% end %>

<% link_to
