<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<fieldform>
 <div>
   <%= f.label :name %><br>
   <%= f.text_field :name %>
 </div>
 <div>
   <%= f.label :email %><br>
   <%= f.text_field :email %>
 </div>
 <p>License</p>
 <div>
  <%= f.fields_for :license do |license_form| %>
  <div>
    <%= license_form.label :state %><br>
    <%= license_form.text_field :state %>
  </div>
  <div>
    <%= license_form.label :number %><br>
    <%= license_form.text_field :number %>
  </div>
    <div>
      <p><%= f.submit "Submit" %></p>
    </div>
  <% end %>
</fieldform>
<% end %>
