<h1>User</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>License</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
     <td><%= user.name %></td>
     <td><%= user.email %></td>
      <% if user.license.present? %>
     <td><%= user.license.number %></td>
     <td><%= user.license.state %></td>
     <td>
        <% if user.license.state.nil? %>
        No License
        <% else %>
        <%= user.license.user_id %>
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>

<%= link_to 'New User', new_user_path %>
