<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.license %></p>

<h1><%= notice %></h1>
<li>
  Name: <%= @user.name %><br>
</li>
<li>
  Email: <%= @user.email %><br>
</li>
<% if @license %>
  <li>
    License: <%= @license.number %><br>
  </li>
<% end %>
